@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-Hits-list,
.ais-InfiniteHits-list,
.ais-InfiniteResults-list,
.ais-Results-list {
	flex-direction: column !important;
	width: 100% !important;
	margin: 0 !important;
}

.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
	margin: 0 !important;
	border: 0 !important;
	width: 100% !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.ais-SearchBox-input {
	padding: 0.6rem 1.7rem !important;
	padding-right: 2rem;
}

.ais-RefinementList-label {
	display: flex !important;
	align-items: center !important;
	margin-bottom: 5px !important;
}

.ais-RefinementList-labelText {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.loader {
	border-top-color: rgba(59, 130, 246, 1);
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.dropdown:focus-within .dropdown-menu {
	opacity: 1;
	transform: translate(0) scale(1);
	visibility: visible;
}
